/* Imported fonts Roboto Mono, Roboto, Inconsolata*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Inconsolata', monospace;, font-family: 'Roboto', sans-serif;, font-family: 'Roboto Mono', monospace; */

/* General Properties */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
.all-personla-info {
  height: 500px;
}
.important-text {
  font-family: 'Roboto Mono', monospace;
}
.normal-text {
  color: #555;
}
.button {
  display: inline-block;
  margin-top: 30px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 15px 20px;
  border: 1px solid transparent;
  border-radius: 50px;
  background-color: #6d56c1;
}

/* Specific Properties */

/* Header styles */
.header-container {
  background-color: #343434;
  background-image: url(../img/background-header.jpeg);
  background-size: 100%;
  background-repeat: repeat;
  font-family: 'Roboto Mono', monospace;
  color: white;
}
.navigation-bar a[class="menu-lg"] {
  display: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
  padding: 5px;
  margin-left: 5px;
  margin-top: 20px;
  transition: all 1s;
}
.navigation-bar a[class="menu-lg"]:hover {
  color: #6d56c1;
  font-weight: 500;
  border-bottom: 2px solid #6d56c1;
  padding: 2px;
}
.menu-responsive-sm {
  margin-left: 10px;
  padding: 20px;
}
.menu-responsive-sm .fa-bars {
  font-size: 2rem;
  color: white;
}
.wrapper-personal-info .personal-image {
  display: none;
  position: absolute;
  background-image: url(../img/personal-picture.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: gray;
  height: 400px;
  width: 300px;
  border-radius: 5px;
  top: 125px;
  left: 25px;
}
.header-container .personal-name {
  font-size: 3rem;
  font-weight: 600;
  margin-top: 20px;
  width: 85%;
}
.header-container .personal-capabilities {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 10px;
}
.personal-contact-info {
  margin-top: 20px;
}
.personal-contact-info dt {
  float: left;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}
.personal-contact-info dd {
  margin-left: 100px;
  margin-bottom: 15px;
}
.personal-info-social a {
  margin-right: 15px;
}
.personal-info-social 
.fa-instagram,
.fa-facebook,
.fa-linkedin {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.5s;
}
.personal-info-social:hover 
.fa-instagram:hover,
.fa-facebook:hover,
.fa-linkedin:hover {
  color: #6d56c1;
  font-weight: 500;
  border-bottom: 2px solid #6d56c1;
  padding: 2px;
}
/* Content styles */
/* Hello and Resume */
.item-description {
  margin-top: 50px;
  color: #555555;
}
.item-description h2 {
  margin-bottom: 30px;
  font-size: 2.5rem;
  font-weight: 400;
}
.item-description p {
  font-size: 1.2rem;
  line-height: 30px;
  width: 80%;
}
.cv-button {
  margin-bottom: 30px;
}
.cv-button:hover {
  background-color: #363636;
}
.hello .fa-download {
  margin-right: 5px;
}
/* Education & Employmment */
.wrapper-education-employment {
  margin-top: 50px;
}
.wrapper-education-employment .important-text {
  text-transform: uppercase;
  font-size: 1rem;
}
.wrapper-education-employment .normal-text {
  line-height: 30px;
}
.wrapper-education-employment h2 {
  color: #999;
  font-weight: 400;
  letter-spacing: 5px;
  margin-bottom: 30px;
}
.wrapper-employment h2:first-child {
  margin-top: 50px;
}
.wrapper-education-employment h3 {
  margin-bottom: 10px;
  color: #6d56c1;
  font-weight: 500;
}
.wrapper-education-employment .date {
  color: #999;
  margin-bottom: 10px;
  font-family: 'Inconsolata', monospace;
}
.descriptive-education-employment {
  border-left: 2px solid #6d56c1;
  padding-left: 25px;
  padding-bottom: 40px;
}
.descriptive-education-employment::before {
  width: 12px;
  height: 12px;
  border: 2px solid #6d56c1;
  position: absolute;
  content: "";
  border-radius: 50%;
  background-color: #fff;
  left: 5%;
  margin-left: 5px;
  box-sizing: border-box;
}

/* General Skills - Progres bar */
.general-skills .important-text {
  color: #999;
  font-weight: 400;
  letter-spacing: 5px;
  margin-bottom: 30px;  
  text-transform: uppercase;
  font-size: 1rem;
  margin-top: 20px;
}
.front-bar {
  width: 80%;
  height: inherit;
  background-color: #6d56c1;
  border-radius: 5px;
}
.js,
.git {
  width: 90%;
}
.python,
.css {
  width: 50%;
}
.adobe {
  width: 30%;
}
.background-bar {
  width: 100%;
  height: 5px;
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.skill {
  height: 60px;
}
.skill-text {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 8px;
  color: #555;
}
.skill .skill-text span {
  font-family: 'Inconsolata', monospace;
  font-size: 15px;
  text-transform: uppercase;
}

/* Footer */
.footer-wrapper {
  background-color: #343434;
  background-image: url(../img/background-header.jpeg);
  background-size: 100%;
  background-repeat: repeat;
  color: white;
  margin-top: 100px;
}
.principal-text-footer {
  font-size: 2rem;
  font-weight: 400;
  padding-top: 50px;
}
.social-footer a {
  color: inherit;
  text-decoration: underline;
  transition: all 1s;
}
.social-footer a:hover {
  color: #6d56c1;
  font-weight: 500;
  text-decoration: none;
}
.footer-contact-info dl {
  padding-top: 50px;
}
.footer-contact-info dt {
  float: left;
  text-transform: uppercase;
  color: white;
}
.footer-contact-info dd {
  margin-left: 100px;
  margin-bottom: 15px;
  font-family: 'Roboto Mono', monospace;
}
.social-footer ul {
  list-style: none;
  margin-top: 30px;
}
.social-footer ul a {
  display: inline-block;
  padding-bottom: 20px;
}
.footer-form {
  margin-top: 20px;
}
.input-form input {
  width: 100%;
  border: 1px solid white;
  border-radius: 3px;
  background-color: transparent;
  height: 40px;
  margin: 10px 0;
  color: white;
  padding-left: 10px;
  font-family: 'Roboto Mono', monospace;
}
.input-form input[placeholder="Type the message here"] {
  height: 150px;
}
.buttom-form .button {
  width: 100%;
  background-color: #4a4a4a;
  font-weight: 600;
  transition: all 0.5s;
}
.buttom-form .button:hover {
  background-color: #6d56c1;
}
.all-rights {
  display: inline-block;
  padding: 20px 0;
  text-align: center;
}
/* Media query */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .all-personla-info {
    padding-left: 30%;
    padding-right: 15px;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .all-personla-info {
    height: 440px;
  }
  .menu-responsive-lg {
    padding-left: 3%;
  }
  .navigation-bar a[class="menu-lg"] {
    display: inline-block;
  }
  .menu-responsive-sm {
    display: none;
  }
  .wrapper-personal-info .personal-image {
    display: flex;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}